@page
@model Web.Pages.Usuario.UsuariosAdminModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Administracion de Eventos";
}

<a class="btn btn-dark" asp-page="/Acceso/Registro">Registrar Usuario</a>
