@page
@model Web.Pages.Recurso.CrearRecursoModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Subir Recurso";
}

<h1>Crear Nuevo Recurso</h1>

<form method="post">
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" name="Titulo" required>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" name="Descripcion"></textarea>
    </div>
    <div class="form-group">
        <label for="tipoRecurso">Tipo de Recurso</label>
        <select class="form-control" id="tipoRecurso" name="TipoRecurso" required>
            <option value="" disabled selected>Seleccionar tipo</option>
            <option value="Calentamiento o Estiramiento">Calentamiento o Estiramiento</option>
            <option value="Nutrición Deportiva">Nutrición Deportiva</option>
            <option value="Análisis de Técnica">Análisis de Técnica</option>
            <option value="Rutinas de Entrenamiento">Rutinas de Entrenamiento</option>
        </select>
    </div>
    <div class="form-group">
        <label for="IDNivel">Nivel</label>
        <select class="form-control" id="IDNivel" name="IDNivel" required>
            <option value="" disabled selected>Seleccionar nivel</option>
            <option value="1">Principiante</option>
            <option value="2">Medio</option>
            <option value="3">Avanzado</option>
        </select>
    </div>
    <div class="form-group">
        <label for="linkRefuerzo">Link de Refuerzo</label>
        <input type="url" class="form-control" id="linkRefuerzo" name="LinkRefuerzo">
    </div>
    <button type="submit" class="btn btn-primary">Crear Recurso</button>
</form>
