@page
@model Web.Pages.Acceso.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Login"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="~/css/login.css" rel="stylesheet" />
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="wrapper">
        <div class="logo">
            <img src="~/images/logo_icecastle.png" alt="Logo">
        </div>
        <div class="text-center mt-4 name">
            Ice Castle
        </div>
        <form method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" asp-for="LoginInfo.CorreoElectronico" id="userName" placeholder="Email" class="form-control">
            </div>
            <span asp-validation-for="LoginInfo.CorreoElectronico" class="text-danger"></span>

            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" asp-for="LoginInfo.Contrasenia" id="pwd" placeholder="Contraseña" class="form-control">
            </div>
            <span asp-validation-for="LoginInfo.Contrasenia" class="text-danger"></span>

            <button class="btn mt-3">Iniciar</button>
        </form>
        <div class="text-center fs-6">
            <a href="#">Olvidaste tu contraseña?</a>
        </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
